@import './loop.less';
@import './skykit_light.less';
@import './skykit_dark.less';

html,
body,
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pure-text,
.plain {
  user-select: none;
}

.point {
  .pure-text;
  cursor: pointer;
}

.flex {
  align-items: center;
  display: flex;

  &-center {
    &:extend(.flex);
    justify-content: center;
  }

  &-between {
    &:extend(.flex);
    justify-content: space-between;
  }

  &-col {
    &:extend(.flex);
    flex-direction: column;

    &-left {
      flex-direction: column;
      display: flex;
    }
  }
}

.align-stretch {
  align-items: stretch;
}

.self-stretch {
  align-self: stretch;
}

.flex1 {
  flex: 1;
}

.skykit {
  &-tag {
    background-color: #aaa;
    border-radius: 100px;
    text-align: center;
    min-width: 36px;
    font-size: 12px;
    padding: 0 12px;
    color: #fff;

    & + & {
      margin-right: 8px;
    }
  }

  &-btn {
    transition: all 0.3s, box-shadow 0.5s;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    text-align: center;
    outline: none;
    border: none;
    .point;

    &__default {
      padding: 12px;
      margin: 12px;

      i {
        font-size: 18px;
      }
    }

    &__middle {
      padding: 8px;
      margin: 8px;

      i {
        font-size: 16px;
      }
    }

    &__small {
      padding: 4px;
      margin: 4px;

      i {
        font-size: 14px;
      }
    }

    &:hover {
      position: relative;
      z-index: 1;
    }
  }
}

input {
  border-radius: 4px;
  padding: 0 12px;
  outline: none;
  height: 28px;
  border: 0;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.circle {
  border-radius: 50%;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.block {
  display: block;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #252525;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

.auto-scroll {
  overflow: auto;
}
