@import './loop.less';
@import './skykit_dark.less';

@media (prefers-color-scheme: light) {
  @borderColor: #dcdee5;

  html,
  body,
  #app {
    background-color: #fff;
    * {
      color: #333;
    }

    .border {
      box-shadow: 0 2px 12px 0 @borderColor !important;
    }

    .border_t {
      border-top: 1px solid @borderColor !important;
    }

    .border_b {
      border-bottom: 1px solid @borderColor !important;
    }

    .border_l {
      border-left: 1px solid @borderColor !important;
    }

    .border_r {
      border-right: 1px solid @borderColor !important;
    }

    .border_x {
      .border_l;
      .border_r;
    }

    .border_y {
      .border_t;
      .border_b;
    }

    .skykit_btn {
      background-color: #fff;
      & > i {
        color: #fff;
      }
    }
  }
}

html,
body,
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.pure-text,
.plain {
  user-select: none;
}

.point {
  .pure-text;
  cursor: pointer;
}

.flex-center,
.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.flex {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.flex1 {
  flex: 1;
}

.skykit_btn {
  transition: background-color 0.4s, font-size 0.3s, transform 0.3s;
  text-align: center;
  border: none;
  outline: none;
  .point;

  &_default {
    padding: 12px;
    margin: 12px;

    // &:hover {
    //   padding: 12px * 2;
    // }
  }

  &_middle {
    padding: 8px;
    margin: 8px;

    // &:hover {
    //   padding: 8px * 2;
    // }
  }

  &_small {
    padding: 4px;
    margin: 4px;

    // &:hover {
    //   padding: 4px * 2;
    // }
  }

  & > i {
    font-size: 18px;
  }

  &:hover {
    transform: translateZ(0) scale(1.2);
    background-color: #35363a;

    & > i {
      color: #fff;
    }
  }
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.circle {
  border-radius: 50%;
}

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.block {
  display: block;
}
